.btn{
    background-color: white;
    color: black;
    border-radius: 10px;
}




.buttons{
    padding-top: 15px;

}



.buffer{
    margin-bottom: 200px;
}











@media (max-width: 770px) {




    .btn{

        margin-top: 12px;

    }


    video{
        display: none;
    }





}

