

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo{
    position: absolute;
    width: 80%;
    margin: 0 auto;

}

.logo img{
    max-width: 100%;
}


#about, #dialog_1, #dialog_2, #dialog_3, #dialog_4, #team, #contact{
    display: none;
}


#about, #team, #contact, #services, #price{
    color: rgb(234, 234, 234);
    padding-bottom: 200px;
    text-align: center;
    position: absolute;
    z-index: 100;

}

#price{
    padding-top: 100px;
    color: black;
}

#team, #services, #price{
    width: 100%;
    margin: 0 auto;
}

#services, #contact{
    padding-top: 100px;
}

#about p{
    width: 80%;
    margin: 0 auto;
    font-size: 1.4em;
    text-align: left;
}


.service-item, #dialog_1, #dialog_2, #dialog_3, #dialog_4{
    margin-bottom: 20px;
}

#about, #contact{
    width: 100%;
}

.img-center{
    margin: 0 auto;
}

.employee{
    margin-bottom: 20px;
}


.filter {
    opacity:    0.9;
    background: #000;
    width:      100%;
    height:     100%;
    top:        0;
    left:       0;
    position:   fixed;
}




/*pricing form*/
.contactform textarea,.contactform input{
    width: 100%;
    padding:1em;
    border:1px solid #ccc;
    margin-bottom: 1em;
    border-radius: 0;
    outline: none;}

















































