#menu{
    margin-top: 0;
    padding-bottom: 100px;
}

h1{
    font-size: 5em;
}



#main{
    width: 60%;
    margin: 0 auto;
}



#checkout{
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}


p{
    font-size: 1.2em;
    font-weight: 400;
}


#contact{
    padding-bottom: 300px;
}


#main ul{
    font-size: 1.2em;
    font-weight: 400;
    color: white;
    padding-bottom: 15px;

}

#main li{
    padding-bottom: 15px;
}


#product-component-e0b60cd2f33{
    margin: 0 auto;
}





